ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Inter;
    color: #FFF;
}

button {
    border: none;
}

.container {
    width: 1031px;
    margin: 0 auto;
}

.header-list {
    display: flex;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 40px;
}

.header-item {
    font-size: 24px;
    font-weight: 200;
    margin-right: 20px;
    color: white;
}

.header-item:hover {
    color: #B47B48;
}

.background {
    background-image: url(img/section1background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1800px;
    margin: 0 auto;
}

.traditional-title {
    font-size: 70px;
    font-weight: 200;
    width: 561px;
    height: 170px;
    padding-top: 50px;
}

.traditional-text {
    font-size: 21px;
    font-weight: 300;
    width: 570.253px;
    padding-top: 21px;
}

.traditional-button {
    padding: 16px 34px;
    font-size: 24px;
    font-weight: 300;
    color: #FFF;
    border-radius: 17px;
    background: #B47B48;
    margin-top: 33px;
    margin-bottom: 125px;
}

.traditional-button:hover {
    background: linear-gradient(81deg, #000 -110.34%, rgba(0, 0, 0, 0.00) 85.32%), #B47B48;
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    display: none;
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    width: 990px;
    height: 669px;
    border-radius: 50px;
    display: flex;
}

.popup-title {
    color: #000;
    font-size: 48px;
    font-weight: 200;
    width: 400px;
    margin-top: 94px;
    margin-left: 87px;
    margin-bottom: 40px;
}

.popup-input {
    color: #000;
    background: #F5F5F5;
    border: none;
    font-family: Inter;
    font-size: 24px;
    font-weight: 200;
    padding-left: 16px;
    padding: 21px 22px;
    width: 412px;
    margin-left: 83px;
    margin-right: 20px;
}

.popup-input:active,
.popup-input:hover,
.popup-input:focus {
    outline: 0;
    outline-offset: 0;
}

.adress-input {
    margin-bottom: 71px;
}

.popup-content button {
    display: block;
}

.popup-button {
    margin-left: 83px;
}

.show {
    display: block;
}

.popup-img {
    width: 617px;
    height: 448px;
    margin-top: 145px;
}

.traditional-list {
    display: flex;
    align-items: flex-start;
}

.traditional-item {
    width: 310px;
    height: 225px;
    background: #272727;
    margin-right: 104px;
    display: flex;
    margin-bottom: 36px;
    flex-shrink: 0;
}

.traditional-item:hover {
    background: linear-gradient(81deg, #000 -110.34%, rgba(0, 0, 0, 0.00) 80.32%), #EBAD51;
}

.traditional-item-img {
    height: 225px;
    background-image: linear-gradient(81deg, #000 -110.34%, rgba(0, 0, 0, 0.00) 80.32%);
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.img-cookie {
    background-image: url(img/americancookies.png);
    width: 162px;
}

.img-croisan {
    background-image: url(img/croisan.png);
    width: 215px;
}

.img-pie {
    background-image: url(img/pie.png);
    width: 200px;
    margin-top: 20px;
}

.traditional-item-price {
    font-size: 24px;
    font-weight: 200;
}

.pie-price {
    padding-top: 22px;
}

.croisan-cookie-prise {
    padding-top: 51px;
}

.traditional-item-text {
    font-weight: 500;
    padding-top: 13px;
}

.croisan {
    font-size: 14px;
}

.cookiepie {
    font-size: 16px;
}

.traditional-item-button {
    padding: 10px 22px;
    font-size: 16px;
    font-weight: 900;
    color: #FFF;
    background: #C85312;
    margin-top: 35px;
}

.traditional-item-button:hover {
    background: linear-gradient(81deg, #000 -110.34%, rgba(0, 0, 0, 0.00) 80.32%), #C85312;
}

.section-menu {
    /* width: 1440px; */
    background: #202023;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu-title {
    font-size: 64px;
    font-weight: 100;
    padding-top: 21px;
    text-align: center;
    margin-bottom: 18px;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 57px;
    width: 854px;
    justify-content: space-between;
    margin: 0 auto;
}

.menu-box {
    width: 350px;
    border: 1px solid #FFF;
    margin-bottom: 10px;
}

.menu-item-img {
    flex-shrink: 0;
}

.bread-img {
    padding: 35px 17px 30px 17px;
}

.menu-item-text {
    flex-shrink: 0;
    font-size: 25.92px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 13px;
}

.menu-item-button {
    padding: 7px 43px;
    border-radius: 17px;
    background: #B47B48;
    color: #FFF;
    font-size: 25.92px;
    font-weight: 800;
}

.menu-item-button:hover {
    background: linear-gradient(81deg, #000 -110.34%, rgba(0, 0, 0, 0.00) 80.32%), #B47B48;
}

.button-wrap-menu {
    display: flex;
    justify-content: center;
}

.section-quality {
    width: 1448px;
    height: 852px;
    flex-shrink: 0;
    background: #202023;
    padding-left: 172px;
    background-image: url(img/bgquality.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.quality-title {
    font-family: Italiana;
    font-size: 64px;
    font-weight: 400;
    padding-top: 145px;
    padding-left: 429px;
}

.quality-list {
    display: flex;
}

.quality-item {
    height: 197.532px;
    flex-shrink: 0;
    margin-right: 42px;
}

.bread-list {
    padding-right: 35px;
}

.cookies-list {
    padding-right: 90px;
    padding-top: 84px;
}

.pie-list {
    padding-top: 123px;
}

.quality-itemlist-text {
    font-size: 20px;
    font-weight: 500;
    padding-left: 35px;
    padding-top: 32px;
    padding-bottom: 50px;
    background: rgba(242, 242, 242, 0.30);
    backdrop-filter: blur(18px);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.section-why {
    background-image: linear-gradient(90deg, #000 8.49%, rgba(3, 3, 3, 0.00) 77.17%), url(img/whybackground.jpg);
    width: 1448px;
    height: 580px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 160px;
}

.why-title {
    color: #D9D9D9;
    font-family: Italiana;
    font-size: 48px;
    font-weight: 400;
    width: 735px;
    padding-top: 55px;
    padding-bottom: 132px;
}

.why-list {
    display: flex;
}

.why-item-text {
    font-size: 24px;
    font-weight: 700;
    padding-top: 13px;
    text-align: center;
}

.other-item {
    padding-left: 206px;
}

.section-where {
    width: 1451px;
    height: 704px;
    flex-shrink: 0;
    background: #202023;
    padding-left: 160px;
}

.where-title {
    font-family: Italiana;
    font-size: 48px;
    font-weight: 400;
    padding-top: 66px;
    padding-bottom: 44px;
}

.where-box {
    display: flex;
}

.where-sub {
    font-size: 40px;
    font-weight: 400;
    padding-left: 132px;
    padding-bottom: 49px;
}

.links {
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
}

.where-time {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
}

.where-link {
    padding-bottom: 65px;
    padding-left: 132px;
}

.where-item {
    padding-left: 132px;
    padding-bottom: 30px;
}

.where-time {
    padding-left: 110px;
}

.footer {
    width: 1500px;
    height: 351px;
    flex-shrink: 0;
    background: #202023;
    padding-left: 160px;
}

.footer-title {
    width: 400px;
    font-size: 40px;
    font-weight: 200;
    padding-top: 62px;
    padding-bottom: 16px;
    padding-right: 77px;
}

.footer-text {
    font-size: 20px;
    font-weight: 300;
}

.footer-box {
    display: flex;
}

.footer-list1,
.footer-list2,
.footer-list3 {
    padding-top: 40px;
}

.footer-list1 {
    padding-right: 216px;
}

.footer-list2 {
    padding-right: 155px;
}

.list1-item,
.list2-item,
.list3-item {
    font-size: 24px;
    font-weight: 300;
}

.footer-item {
    padding-bottom: 41px;
}

/* Menu page styles */

.menu-body {
    background-image: linear-gradient(to bottom,
            #EBAD51,
            #202023);
}

.menucard-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
    padding-bottom: 40px;
}

.menucard {
    width: calc((100% - 15px * 6) / 3);
    border: 1px solid #EEE;
}

.menucard:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    background-color: #c59853;
}

.menucard-title {
    color: #FFF;
    ;
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    padding-left: 24px;
    padding-top: 20px;
}

.menucard-text {
    width: 322px;
    color: #b1a9a9;
    font-size: 16px;
    font-weight: 400;
    line-height: 188%;
    letter-spacing: 0.48px;
    padding-left: 24px;
    padding-bottom: 20px;
}

.menucard-img {
    width: 370px;
    height: 294px;
}

.cupcake-img {
    width: 250px;
    height: 300px;
    margin-left: 35px;
}

.cookie-img {
    width: 400px;
    height: 300px;
}

.breads-img {
    width: 300px;
    height: 200px;
    margin-top: 100px;
    margin-left: 5px;
}

.order-button {
    margin-left: 70px;
    margin-bottom: 20px;
}

/* Reviews */

.reviews_list {
    display: flex;
    gap: 125px;
    justify-content: center;
    margin-bottom: 60px;
}

.reviews-item {
    padding: 50px 14px 30px 14px;
    width: 255px;
    height: 292px;
    border-radius: 15px;
    background: linear-gradient(137deg, #e5ae5c 0%, #c59853 26.04%, #B47B48 62.84%, #3e3f2b 100%);
    box-shadow: 0px 30px 0px -13px #c59853, 0px 14px 0px -5px #dba049;
}

.reviews_text {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
}

.reviews-date {
    color: #dfd7d7;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 47px;
}

.reviews-name {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}
.leavereview-section {
    background-color: #202023;
}
.leavereview-title {
    color: #fff;
    font-size: 48px;
    font-weight: 200;
    text-align: center;
    width: 800px;
    padding-top: 50px;
    margin-top: 94px;
    margin-left: 130px;
    margin-right: 50px;
}

.leavereview-subtitle {
    color: #fff;
    font-size: 45px;
    font-weight: 100;
    text-align: center;
    width: 800px;
    margin-left: 130px;
    margin-bottom: 40px;
}
.leavereview-form {
    margin-left: 230px;
}
.leavereview-input {
    color: #000;
    background: #F5F5F5;
    border: none;
    font-family: Inter;
    font-size: 24px;
    font-weight: 200;
    padding-left: 16px;
    padding: 21px 22px;
    width: 412px;
    margin-left: 83px;
    margin-right: 20px;
}

.leavereview-input:active,
.leavereview-input:hover,
.leavereview-input:focus {
    outline: 0;
    outline-offset: 0;
}

.leavereview-adress-input {
    margin-bottom: 71px;
}

.leavereview-content button {
    display: block;
}

.leavereview-button {
    margin-left: 410px;
}

.show {
    display: block;
}
